# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
backend/venv/

# Environment variables
.env
backend/.env

# Django
db.sqlite3
*.sqlite3
*.log

# VS Code
.vscode/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db